*.class
*.properties

# Package Files #
*.jar
*.war
*.ear

# IDE Files #
nbproject/

# Miscellaeneous Files #
.DS_Store
icon.png
.classpath
.project

# Database Files #
db/*
derby.log
config/*

# Build and Deployment Files #
/build/
/dist/

.gitignore
/bin
bin/*
/bin
/bin
/settings
/HMD
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
