*.class
*.properties

# Package Files #
*.jar
*.war
*.ear

# IDE Files #
nbproject/

# Miscellaeneous Files #
.DS_Store
icon.png
.classpath
.project

# Database Files #
db/*
derby.log

# Build and Deployment Files #
/build/
/dist/

.gitignore
/bin
bin/*
/settings
/HMD

# Bins. I don't know why this is happening. #
/bin
